<input type="hidden" name="token" value={{token}}>
<form method="POST" action="/user/resetPassword" autocomplete="off">
    <input type="hidden" name="id" value={{id}}>
    <div class="form-group">
        <label class="control-label" for="password">Reset Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Your New Password" style="width: 30%"> 
    </div>
    <button type="submit" class="btn btn-info btn-block" style="width: 30%">Change Password</button>
</form>