    <div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form method="POST" action="/user/signin" autocomplete="off">
						<div class="form-group">
							<h2>Sign-In account</h2>
									{{#if message}}
										<div id="myModal" class="modal fade">
											<div class="modal-dialog">
													<div class="modal-content">
															<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																	{{!-- <h4 class="modal-title">Welcome</h4> --}}
															</div>
															<div class="modal-body">
																	<p>{{message}}</p>
															</div>
															<div class="modal-footer">
																	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
															</div>
													</div>
											</div>
										</div>
									{{/if}}
						</div>
						<div class="form-group">
							<label class="control-label" for="username">Username</label>
							<input type="text" class="form-control" name="username">
						</div>
						<div class="form-group">
							<label class="control-label" for="signupPassword">Password</label>
							<input type="password"  class="form-control" length="40" name="password">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-info btn-block">Sign-In your account</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>